header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


hr.dotted{
    border-top: 10px dotted #bbb
}

#aboutMe{
    color:rgb(66, 1, 128);
    font-size: 20px;
}

#Skills{
    color:rgb(128, 7, 7);
}
ul{
    color:rgb(128, 7, 7);
}
footer{
    color:blue;
    background-color:black;
}